@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display:grid;
    place-content: center;
    background-color:  hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}
main {
    width: 310px;
    border-radius: 1rem;
    padding: 1.3rem;
    background-color: hsl(216, 50%, 16%);
    display: grid;
    justify-content: start;
    gap: 1.5rem;
    /* position: relative; */
    box-shadow: 0px 40px 10px 15px hsla(214, 53%, 6%, 0.2);
}
.image img {
    width: 100%;
    border-radius: 0.4rem;
}
.author {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-top: 1px solid hsl(215, 32%, 27%);
    padding-top: 1rem;
}
.author img {
    width: 1.8rem;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}
.description {
    display: grid;
    justify-content: start;
    gap: 1.4rem;
}
.white {
    color: hsl(0, 0%, 100%);
}
.softblue {
    color:hsl(215, 51%, 70%);
}
.cyan {
    color: hsl(178, 100%, 50%);
}
h1 {
    font-size: 1.2em;
}
p {
    font-size: 0.9rem;
}
.author span {
    font-weight: 300;
}
.values {
    display: flex;
    justify-content: space-between;

}

.eth,
.duetime {
    display: flex;
    align-items: center;
}
.eth svg,
.duetime svg{
margin-right: 0.4rem;
}

/* hover effect*/
.active:hover {
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}
.image {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    transition: 0.5s ease;
    background-color: hsla(178, 100%, 50%, 0);
    display: grid;
    place-content: center;
}
.viewicon {
opacity: 0;

}
.image:hover .overlay{
    background-color: hsla(178, 100%, 50%, 0.5);
    cursor: pointer;
   
}
.image:hover .viewicon {
    opacity: 1;
}
